/* Main Content */

.main-content {
  display: flex;
  background-color: transparent;
}

.main-left,
.main-right {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  padding: 60px 40px;
}

.main-right p,
.main-left p,
.main-left div {
  background-color: transparent;
}

.main-left .about-text {
  color: rgb(98, 98, 98);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-text p {
  line-height: 30px;
  overflow-wrap: break-word;
}

.main-right {
  padding: 60px 40px;
}

.about-me {
  font-size: smaller;
  font-weight: bold;
  color: rgb(98, 98, 98);
}

.name {
  color: rgb(98, 98, 98);
  font-weight: bold;
  font-size: xx-large;
}

.socials-btns > button {
  border: none;
  padding: none;
  margin: none;
  transition: 200ms;
}

.socials-btns > button:hover {
  opacity: 70%;
}

.quote {
  font-weight: bold;
  padding-top: 40px;
  text-align: right;
  line-height: 30px;
  overflow-wrap: break-word;
}

.main-right img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .main-left,
  .main-right {
    max-width: 100%;
    text-align: center;
  }

  .main-right img {
    max-width: 100%;
    height: auto;
  }

  .quote {
    text-align: center;
  }
}

/* Portfolio */

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(98, 98, 98);
  gap: 40px;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.portfolio-content {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.portfolio-component {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.portfolio-component img {
  width: 100%;
  max-width: 45rem;
  cursor: pointer;
  transition: transform 300ms ease;
}

.portfolio-component img:hover {
  transform: scale(1.02);
}

.portfolio-component > div {
  overflow: hidden;
}

.portfolio-component > p {
  font-weight: bold;
  font-size: smaller;
}

/* Contact */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  gap: 40px;
  background-image: url(https://danishmunib.weebly.com/uploads/1/4/6/2/146277355/background-images/459525405.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.contact > h2 {
  color: white;
}

form {
  padding: 10px;
  background-color: transparent;
}

.form-container {
  color: rgb(225, 225, 225);
  max-width: 800px;
  margin: 20px auto;
}

label {
  display: block;
  font-weight: bold;
  margin: 10px 0 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  transition: all 300ms;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
}

input:hover,
textarea:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

input:focus,
textarea:focus {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.1);
}

.name-fields {
  display: flex;
  gap: 10px;
}

.name-fields input {
  flex: 1;
}

.required {
  color: red;
}

.submit-button {
  background: none;
  border: 1px solid black;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
}

.submit-button:hover {
  background: black;
  color: white;
}

.required-text {
  padding-left: 10px;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 10px;
}
