@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0, 0.01);
  box-sizing: border-box;
  margin: 0px;
  overflow-x: hidden;
}

body {
  background-color: white;
}

button {
  cursor: pointer;
  transition: 200ms;
}

button:hover {
  color: rgb(150, 150, 150);
  border-color: rgb(150, 150, 150);
}

.hidden {
  display: none;
  visibility: hidden;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  gap: 2rem;
  z-index: 20;

  /* Transformation */
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.nav-menu.open {
  transform: translateY(0);
}

.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.nav-menu p {
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-menu p:hover {
  color: rgb(150, 150, 150);
}

/* Media Queries (Finally) */
@media screen and (max-width: 768px) {
  .nav-bar .nav-btns {
    visibility: hidden;
    display: none;
  }
  .hamburger {
    display: block;
  }
}

.nav-bar {
  position: fixed;
  display: flex;
  z-index: 12;
  color: white;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  transition:
    background-color 300ms ease,
    color 260ms ease,
    padding 180ms ease,
    backdrop-filter 300ms ease;
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 12px 40px;
  backdrop-filter: blur(50px);
}

.scrolled > .nav-btns > button {
  padding: 8px 20px;
}

.nav-logo-btn {
  font-size: 1.8rem;
  text-align: start;
  color: inherit;
  background-color: transparent;
  border: none;
}

.nav-btns {
  background-color: transparent;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.nav-btns > button {
  font-size: 0.8rem;
  padding: 10px 20px;
  border: none;
  color: inherit;
}

.nav-btns > button:hover {
  color: rgb(150, 150, 150);
  border-color: rgb(150, 150, 150);
}

.nav-btns .current-tab {
  border: 1px solid white;
}

.top-img {
  background-image: url(https://danishmunib.weebly.com/uploads/1/4/6/2/146277355/background-images/1382972328.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.top-img > p {
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1.8px;
  color: white;
  padding: 82vh 100px 16vh 40px;
}
